<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Pi먹고 노라라!</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
    <body style="overflow:hidden;">
        <div class='bg'>
        <div class="main_container">
            <div class="header">
                <h1><strong>Pi먹고 노라라!</strong></h1>
            </div>
        </div>
            <div class="main">
                <div>
                    <!--버튼 클릭 시 SelectPage로 이동-->
                    <button onclick="location.href='../SelectPage'"><strong>같이 놀자!</strong></button>
                </div>
            </div>
        </div>
    </body>

</html>
