<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>뭐하고 놀래?</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<div class='bg'>
<body style="overflow:hidden;">
    <div class="select_container">
        <div class="header">
            <h1><strong>뭐하고 놀래?</strong></h1>
        </div>
    </div>
    <div class='select'>
        <div id="btn_group">
            <button onclick="location.href='../Dodge'" style="margin-left:500px;"><strong>Dodge</strong></button>
            <button onclick="location.href='../Snake'"style="margin-left:400px;"><strong>Snake</strong></button>
        </div>
    </div>
    <body>
        <img src="https://t1.daumcdn.net/cfile/tistory/99C5943D6002F16618" width="200" height="200" style="margin-left:585px; margin-top:150px;">
        <img src="https://blog.kakaocdn.net/dn/910RA/btqJDj4bxHA/rYFhXO0j6W7JTZqNBjpwC1/img.png" width="200" height="200" style="margin-left:400px; margin-top:150px;">
    </body>
    <div class='preview'>
        <div>
            <button onclick="location.href='../'"><strong>처음으로</strong></button>
        </div>
    </div>
</body>
</div>

</html>
